.box{
    max-width: 400px;
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 20px gray;
    padding:3px;
    margin: auto;
    margin-top:30px;
    margin-bottom: 30px;
    border-radius: 5px;
  
}
.box>button{
    background-color:white;
    color: #e41e50;
    border-radius: 3px;
    margin-top: 3px;
    border-color: #e41e50;
   
}