.searchitems {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
  }

.searchitems:hover {
    opacity: 0.8;
}

.searchitems > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    
}
.search-details {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-left: 20px;
}
.heart {
    position: absolute;
    top: 20px;
    right: 40px;
    color: red;
}
.searchdetails-top {
    width: 40vw;
    padding:20px;
}
.searchdetails-top > h3 {
    font-weight: 300;
    margin-top: 10px;
} 

.searchdetails-top > p {
    margin-top: 10px;
    font-size: 13px;
    color: gray;
  }
  
.searchdetails-bottom {
    display: flex;
    justify-content: space-between;
}


.star {
    color: red;
}


.rating {
    display: flex;
    align-items: center;
}

.price > p {
    text-align: right;
  }

.price {
    position: absolute;
    bottom: 20px;
    right: 30px;
}
